<link rel="stylesheet" href="/css/user/show_new.css">

<div id="main" role="main" style="margin-top:0px;">
    <div check-time-zone=""></div>

    <div class="alerts ng-scope">
        <!-- ngRepeat: alert in Alert.alerts -->
    </div>

    <div class="newProfile ng-scope">
        <div class="firstPart">
            <div class="customizeContainer">
                <div class="row-fluid topRow">
                    <div class="span8">
                        <div class="row-fluid mainInfo">
                            <div class="span3">
                                <img class="img-circle" src="https://www.gravatar.com/avatar/401c9ea9450926cb7497750aebafd4f3?d=mm&amp;s=200" alt="401c9ea9450926cb7497750aebafd4f3?d=mm&amp;s=200">
                            </div>
                            <div class="span9 title-info">
                                <h1 class="pageTitle">Dương</h1>
                                <sub class="status">
                                    <span class="presence presence-online">    <i
                                            ng-class="{'icon-circle':presenceStatus!='available', 'icon-ok fa fa-flash':presenceStatus=='available'}"
                                            class="icon-circle"></i>    <span ng-show="showStatus" class="ng-binding">Online</span>  </span>
                                </sub>

                                <p class="headLine">Ruby on Rails startup bootstrapping</p>

                                <div class="timezone">
                                    <i class="icon-time"></i> Hà Nội,Việt Nam (+07:00 DST)
                                </div>
                                <div class="language">
                                </div>
                                <div class="expBadge">
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        Ruby
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        JavaScript
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        HTML/CSS
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        Android
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        Git
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        MySQL
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        MongoDB
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        Ruby on Rails
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        CoffeeScript
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        jQuery
                                    </a>
                                    <a class="badge customizeBadge" href="#" data-original-title="" title="">
                                        Ember.js
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span4 rightSideBar">
                        <div class="rightSideBarWapper ng-scope" side-bar-stick-at-bottom="" style="position: fixed; top: 137px; z-index: 4;">
                            <div class="actionCard">
                                <div class="topCard">
                                    <div class="price">
                                        <strong>$40.00</strong> cho mỗi 15 phút
                                        <br>
                                    </div>
                                    <strong>5.0</strong>

                                    <div class="rating">
                                        <span> ★ </span> <span> ★ </span> <span> ★ </span> <span> ★ </span>
                                        <span> ★ </span>
                                    </div>
                                    <a class="btn btn-success messageBtn" href="#" data-original-title="" title="">
                                        <i class="icon-envelope"></i> Gửi tin nhắn cho Dương
                                    </a>
                                </div>
                            </div>
                            <div class="restInfo">
                                <div class="sessionGiven">
                                    9 lần hỗ trợ
                                    <br> đến ngày 4/5/2015
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tabPart skrollable skrollable-before" data-50-top="position:fixed;" data-bottom-top="position:relative;" data-emit-events="" style="padding-right: 0px; top: auto; width: 100%; box-shadow: none; z-index: 3; box-sizing: border-box; position: relative;">
            <div class="customizeContainer tabRow">
                <a class="tab tab-overview active" href="#/overview" data-original-title="" title="">
                    Tổng quát
                </a>
                <a class="tab tab-reputation" href="#/activity" data-original-title="" title="">
                    Hoạt động
                </a>
                <a class="tab tab-review" href="#/review" data-original-title="" title="">
                    Nhận xét
                    <span class="label">2</span>
                </a>
            </div>
        </div>
        <div class="secondPart skrollable skrollable-before" data-104-top="padding-top:55px;" data-105-top="padding-top:0px;" data-emit-events="" style="padding-top: 0px;">
            <div class="customizeContainer">
                <div class="row-fluid">
                    <div class="span8">
                        <div data-120-top-bottom="" data-120-top="" data-emit-events="" id="overview" class="skrollable skrollable-before">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="moduleTitle clearfix">
                                        Thông tin về tôi
                                        <div class="group" style="display: inline-block;">
                                        </div>
                                        <div class="wide">
                                            <span class="socialIcon" style="font-size:25px;">
                                                <a href="#‎" target="_blank" data-original-title="" title="">
                                                    <i class="fi-social-linkedin"></i>
                                                </a>
                                            </span>
                                            <span class="socialIcon" style="font-size:25px;">
                                                <a href="#" data-original-title="" title="">
                                                    <i class="fi-social-stack-overflow"></i>
                                                </a>
                                            </span>
                                            <span class="socialIcon" style="font-size:25px;">
                                                <a href="https://twitter.com/burgalon" target="_blank" data-original-title="" title="">
                                                    <i class="fi-social-twitter"></i>
                                                </a>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="well span12">
                                    <div class="about">
                                        <div class="ng-non-bindable" style="white-space:pre-wrap;">Will help bootstrapping new projects from zero, or help with doing new integrations with older projects, optimize performance, select the right tools, set up a development environment, setup new servers...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="moduleTitle">
                                        Lĩnh vực chuyên môn
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="well span12">
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/ruby-expert-help.png" alt="Ruby expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                Ruby
                                            </a>
                                            <small class="muted skillYear">- 5 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/javascript-expert-help.png" alt="Javascript expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                JavaScript
                                            </a>
                                            <small class="muted skillYear">- 10 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/html-css-expert-help.png" alt="Html css expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                HTML/CSS
                                            </a>
                                            <small class="muted skillYear">- 10 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/android-expert-help.png" alt="Android expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                Android
                                            </a>
                                            <small class="muted skillYear">- 2 năm kinh nghiệm</small>
                                        </div>
                                        <div class="description">
                                            <div class="ng-non-bindable" style="white-space:pre-wrap;">Ứng dụng chia sẻ video (<a href="https://www.youtube.com/watch?v=nAhegEj9X7U" data-original-title="" title="">https://www.youtube.com/watch?v=nAhegEj9X7U</a>) which was reviewed by The Guardian as 20 best apps for the week. Cloudee has been pulled out of the Play store due to the parent company (Boxee) sold to Samsung
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/git-expert-help.png" alt="Git expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                Git
                                            </a>
                                            <small class="muted skillYear">- 6 năm kinh nghiệm</small>
                                        </div>
                                        <div class="description">
                                            <div class="ng-non-bindable" style="white-space:pre-wrap;">Chuyển đổi từ svn sang git
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/mysql-expert-help.png" alt="Mysql expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                MySQL
                                            </a>
                                            <small class="muted skillYear">- 10 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/mongo-db-expert-help.png" alt="Mongo db expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                MongoDB
                                            </a>
                                            <small class="muted skillYear">- 3 năm kinh nghiệm</small>
                                        </div>
                                        <div class="description">
                                            <div class="ng-non-bindable" style="white-space:pre-wrap;">Have created several Rails applications, mainly using Mongoid ORM. Expert in optimizing and helping model NoSQL schemas
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/ruby-on-rails-expert-help.png" alt="Ruby on rails expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                Ruby on Rails
                                            </a>
                                            <small class="muted skillYear">- 10 năm kinh nghiệm</small>
                                        </div>
                                        <div class="description">
                                            <div class="ng-non-bindable" style="white-space:pre-wrap;">Have bootstrapped several projects into full backends with AWS topology or Heroku.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/coffeescript-expert-help.png" alt="Coffeescript expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                CoffeeScript
                                            </a>
                                            <small class="muted skillYear">- 0 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/jquery-expert-help.png" alt="Jquery expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                jQuery
                                            </a>
                                            <small class="muted skillYear">- 0 năm kinh nghiệm</small>
                                        </div>
                                    </div>
                                    <div class="skillModule">
                                        <div class="info-title">
                                            <img src="https://cdn.codementor.io/assets/category_icons/ember-js-expert-help.png" alt="Ember js expert help">
                                            <a class="skillName" href="#" target="blank" data-original-title="" title="">
                                                Ember.js
                                            </a>
                                            <small class="muted skillYear">- 3 năm kinh nghiệm</small>
                                        </div>
                                        <div class="tags-wrapper">
                                            <a class="tags" href="#" data-original-title="" title="">
                                                Ember data
                                            </a>
                                            <a class="tags" href="#" data-original-title="" title="">
                                                Handlebars.js
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-120-top-bottom="" data-120-top="" data-emit-events="" id="reputation" class="skrollable skrollable-before">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="moduleTitle">
                                        GITHUB
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="well span12">
                                    <div class="github">
                                        <div class="repositories">
                                            <div class="repoModule">
                                                <div class="row-fluid">
                                                    <span class="repoName">
                                                        <i class="icon-github-alt icon"></i>
                                                        <a class="link" href="https://github.com/burgalon/mongoid_optimistic_locking" target="blank" data-original-title="" title="">
                                                            mongoid_optimistic_locking
                                                        </a>
                                                    </span>
                                                    <span class="star pull-right">
                                                        <i class="icon-star"></i>41&nbsp;<i class="icon-code-fork"></i>12
                                                    </span>
                                                    <br>

                                                    <div class="description ng-non-bindable">
                                                        Addon for Mongoid to allow optimistic locking (CAS)
                                                    </div>
                                                    <div class="languages">
                                                        <span class="language">Ruby</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="repoModule">
                                                <div class="row-fluid">
                                                    <span class="repoName">
                                                        <i class="icon-github-alt icon"></i>
                                                        <a class="link" href="https://github.com/burgalon/plupload-s3mixin" target="blank" data-original-title="" title="">
                                                            plupload-s3mixin
                                                        </a>
                                                    </span>
                                                    <span class="star pull-right">
                                                        <i class="icon-star"></i>11&nbsp;<i class="icon-code-fork"></i>1
                                                    </span>
                                                    <br>

                                                    <div class="description ng-non-bindable">
                                                        Plupload S3 mixin for Django
                                                    </div>
                                                    <div class="languages">
                                                        <span class="language">Python</span>
                                                        <span class="language">JavaScript</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="repoModule">
                                                <div class="row-fluid">
                                                    <span class="repoName">
                                                        <i class="icon-github-alt icon"></i>
                                                        <a class="link" href="https://github.com/burgalon/boorgle-spine" target="blank" data-original-title="" title="">
                                                            boorgle-spine
                                                        </a>
                                                    </span>
                                                    <span class="star pull-right">
                                                          <i class="icon-star"></i>10&nbsp;<i class="icon-code-fork"></i>0
                                                    </span>
                                                    <br>

                                                    <div class="description ng-non-bindable">
                                                        Boorgle Mobile web using Spine.JS + Native iOS/Android app wrappers using Cordova/Phonegap
                                                    </div>
                                                    <div class="languages">
                                                        <span class="language">Shell</span>
                                                        <span class="language">JavaScript</span>
                                                        <span class="language">CoffeeScript</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="repoModule">
                                                <div class="row-fluid">
                                                    <span class="repoName">
                                                        <i class="icon-github-alt icon"></i>
                                                            <a class="link" href="https://github.com/burgalon/django-facebook-oauth-backend" target="blank" data-original-title="" title="">
                                                                django-facebook-oauth-backend
                                                            </a>
                                                    </span>
                                                    <span class="star pull-right">
                                                        <i class="icon-star"></i>3&nbsp;<i class="icon-code-fork"></i>1
                                                    </span>
                                                    <br>

                                                    <div class="description ng-non-bindable">
                                                        Facebook authorization backend using OAuth for Django
                                                    </div>
                                                    <div class="languages">
                                                        <span class="language">Python</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="repoModule">
                                                <div class="row-fluid">
                                                    <span class="repoName">
                                                        <i class="icon-github-alt icon"></i>
                                                            <a class="link" href="https://github.com/burgalon/mongoid-tree" target="blank" data-original-title="" title="">
                                                              mongoid-tree
                                                            </a>
                                                    </span>
                                                    <span class="star pull-right">
                                                        <i class="icon-star"></i>2&nbsp;<i class="icon-code-fork"></i>0
                                                    </span>
                                                    <br>

                                                    <div class="description ng-non-bindable">
                                                        A tree structure for Mongoid documents using the materialized path pattern
                                                    </div>
                                                    <div class="languages">
                                                        <span class="language">Ruby</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="moduleTitle">
                                        STACK OVERFLOW
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="well span12">
                                    <div class="stackOverflow">
                                        <div class="topInfo">
                                            <div class="row-fluid">
                                                <div class="span3 reputation">
                                                    <i class="fi-social-stack-overflow"></i> &nbsp;Reputation: 558
                                                </div>
                                                <div class="span9">
                                                    <ul class="badgeInfo inline pull-right">
                                                        <li>
                                                            <i class="icon-trophy silver"></i> &nbsp;Silver Badge: 3
                                                        </li>
                                                        <li>
                                                            <i class="icon-trophy bronze"></i> &nbsp;Bronze Badge: 11
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="questionModule">
                                            <div class="quesionInfo row-fluid">
                                                <div class="span10 question">
                                                    <a class="link" href="http://stackoverflow.com/questions/3160204/14966796#14966796" target="blank" data-original-title="" title="">
                                                        In rails controllers, how to prevent double submit (when user
                                                        double-clic submit button or hit enter twice)?
                                                    </a>
                                                </div>
                                                <div class="span2 info pull-right">
                                                    <i class="icon-star"></i> 4
                                                </div>
                                            </div>
                                            <div class="languages">
                                                <span class="language">javascript</span>
                                                <span class="language">ruby-on-rails</span>
                                                <span class="language">forms</span>
                                                <span class="language">controller</span>
                                                <span class="language">double-submit-problem</span>
                                            </div>
                                        </div>
                                        <div class="questionModule">
                                            <div class="quesionInfo row-fluid">
                                                <div class="span10 question">
                                                    <a class="link" href="http://stackoverflow.com/questions/8913867/8944449#8944449" target="blank" data-original-title="" title="">
                                                        Experiencing Mongo::OperationTimeout every 20mins-2 hours
                                                    </a>
                                                </div>
                                                <div class="span2 info pull-right">
                                                    <i class="icon-star"></i> 2
                                                </div>
                                            </div>
                                            <div class="languages">
                                                <span class="language">mongodb</span>
                                                <span class="language">mongoid</span>
                                            </div>
                                        </div>
                                        <div class="questionModule">
                                            <div class="quesionInfo row-fluid">
                                                <div class="span10 question">
                                                    <a class="link" href="http://stackoverflow.com/questions/12271264/12392446#12392446" target="blank" data-original-title="" title="">
                                                        How to use a self-signed SSL certificate when developing with
                                                        Trigger.io?
                                                    </a>
                                                </div>
                                                <div class="span2 info pull-right">
                                                    <i class="icon-star"></i> 2
                                                </div>
                                            </div>
                                            <div class="languages">
                                                <span class="language">ios</span>
                                                <span class="language">ssl</span>
                                                <span class="language">triggers</span>
                                                <span class="language">trigger.io</span>
                                                <span class="language">self-signed</span>
                                            </div>
                                        </div>
                                        <div class="questionModule">
                                            <div class="quesionInfo row-fluid">
                                                <div class="span10 question">
                                                    <a class="link" href="http://stackoverflow.com/questions/12329784/12392856#12392856" target="blank" data-original-title="" title="">
                                                        How do you use the has_many_related relationship in mongoid 3+?
                                                    </a>
                                                </div>
                                                <div class="span2 info pull-right">
                                                    <i class="icon-star"></i> 2
                                                </div>
                                            </div>
                                            <div class="languages">
                                                <span class="language">ruby-on-rails</span>
                                                <span class="language">mongoid</span>
                                            </div>
                                        </div>
                                        <div class="questionModule">
                                            <div class="quesionInfo row-fluid">
                                                <div class="span10 question">
                                                    <a class="link" href="http://stackoverflow.com/questions/12979923/12981392#12981392" target="blank" data-original-title="" title="">
                                                        Large video upload and processing timeout
                                                    </a>
                                                </div>
                                                <div class="span2 info pull-right">
                                                    <i class="icon-star"></i> 2
                                                </div>
                                            </div>
                                            <div class="languages">
                                                <span class="language">javascript</span>
                                                <span class="language">ruby-on-rails</span>
                                                <span class="language">ajax</span>
                                                <span class="language">node.js</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-120-top-bottom="" data-120-top="" data-emit-events="" id="review" class="skrollable skrollable-before">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="moduleTitle">
                                        Nhận xét
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 review-row">
                                    <span img-src="https://www.gravatar.com/avatar/3c314161fc93dbf7697a184749cdc404?d=mm&amp;s=200" name="Angela Smith" class="ng-isolate-scope">    <img
                                            class="img-circle avatar ng-hide"
                                            src="https://www.gravatar.com/avatar/3c314161fc93dbf7697a184749cdc404?d=404&amp;s=200">    <div
                                            class="customizeAvatar ng-binding">A
                                    </div>  </span>

                                    <div class="well reviewModule">
                                        <div class="content">
                                            Alon was such a huge help, I cannot thank him enough. At very short notice &amp; with an average connection, he filtered through a HUGE rails/backbone/coffeescript app to help me solve my issue. I had contacted several mentors before him who were experienced enough, but not willing to filter through such a large app. He jumped straight in to help. He also made sure that I understood the solution, rather than just doing it himself. I would highly recommend him, particularly for Rails, JS &amp; Coffeescript problems.
                                        </div>
                                        <div class="reviewerName">
                                            <span>Angela Smith</span>
                                            <span class="pull-right">Jun 01, 2014</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row-fluid">
                                <div class="span12 review-row">
                                    <span img-src="https://www.gravatar.com/avatar/7c16e3af2ba70028a8191cbe150567a5?d=mm&amp;s=200" name="Erik Lukas" class="ng-isolate-scope">    <img
                                            class="img-circle avatar ng-hide"
                                            src="https://www.gravatar.com/avatar/7c16e3af2ba70028a8191cbe150567a5?d=404&amp;s=200">    <div
                                            class="customizeAvatar ng-binding">E
                                    </div>  </span>

                                    <div class="well reviewModule">
                                        <div class="content">
                                            Alon was great to work with and I highly recommend him. He really knows his way around rails and how to thoughtfully work towards a solution. Thanks!
                                        </div>
                                        <div class="reviewerName">
                                            <span>Erik Lukas</span>
                                            <span class="pull-right">11 Tháng 5 Năm 2014</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function() {
            $(document).ready(function() {
                var showSection1, showSection2, showSection3, timezoneText, url;
                url = purl();
                $("a").tooltip("hide");
                showSection1 = function() {
                    $("#section1").fadeIn().show();
                    $("#section2").fadeOut().hide();
                    return $("#section3").fadeOut().hide();
                };
                showSection2 = function() {
                    $("#section1").fadeOut().hide();
                    $("#section2").fadeIn().show();
                    return $("#section3").fadeOut().hide();
                };
                showSection3 = function() {
                    $("#section1").fadeOut().hide();
                    $("#section2").fadeOut().hide();
                    return $("#section3").fadeIn().show();
                };
                $("#datepicker").datepicker({
                    format: "yyyy-mm-dd"
                });

                $('.btnConnectNow').click(function() {
                    var $target;
                    $target = $($(this).data('target'));
                    $target.find('h3.schedule').hide();
                    $target.find('h3.connect').show();
                    $target.find('legend.schedule').hide();
                    $target.find('legend.connect').show();
                    $target.find('.btnSection1').hide();
                    $target.find('.btnSection1to3').show();
                    $target.find('#btnSection3').hide();
                    $target.find('#btnSection3Now').show();
                    $target.find('.btnScheduleNow').show();
                    $target.find('.btnSection3Back').hide();
                    $target.find('.btnSection3to1Back').show();
                    $target.find('input[name=next]').val('connect_now');
                    return showSection1();
                });


            })
    </script>

</div>
{{outlet}}