<link rel="stylesheet" href="css\style-sign-in.css">
<div class='topBlock'>
    <center>
        <div class='customizeContainer'>
            <div class='module' ng-controller='loginFormCtrl as lfc'>
                <h1 class='title'>
                    Sign in
                </h1>

                <div class='session'>
                    <div class='row-fluid'>
                        <div class='span12'>

                            <form action="user\signin.hbs"  accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="&#x2713;"/>
                                <input type="hidden" name="authenticity_token"
                                       value="zhIwkKx FTZ5psYL7eJrFE7Mj30xSzeOjJCIsT+Rj11hDWDqB39tEQIbwNOvNTNV3F5wS6NVJ89Ikg7/7T/dkSw=="/>

                                <div class='form-inputs'>
                                    <input type="text" name="login" id="login" required="required" autofocus="autofocus"
                                           placeholder="Username or Email" class="inputName"/>
                                    <input type="password" name="password" id="password" required="required"
                                           placeholder="Password" class="inputPassword"/>
                                    <label for="user_remember_me"><input type="checkbox" name="remember_me"
                                                                         id="user_remember_me" class="boolean"/>
                                        Remember me
                                    </label></div>
                                <br>
                                <input class='btn btn-primary submitBtn' type='submit' value='Sign in'>
                            </form>

                            <div class='sharedTitle'>
                                <a class="sharedTitle" href="/users/reset">Forgot your password?</a>
                            </div>
                            <div class='signUp muted'>
                                Don't have an account?&nbsp;
                                <a data-toggle='modal' href='#signup-modal'>
                                    Sign up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
{{outlet}}
