<link rel="stylesheet" href="/css/home/directory_new_for_clients.css">
<div id="main" style="margin-top:0px;">
  <div class='directory ng-scope' >
      <div class='topBlock'>
          <div class='customizeContainer'>
              <div class='row-fluid'>
                  <div class='span10 offset1 text-center'>
                      <h1 class='h1Title'>Codementor Software Expert Help</h1>

                      <p class='h1Description'>Get instant 1:1 help from expert developers on Codementor.
                          Experts on Codementor include book authors, creators of
                          popular open source libraries, programming tutors, and engineers at well-known
                          tech companies.</p>
                      <a class='actionLink' data-target='#signup-modal' data-toggle='modal' role='button'>
                          Get Help Now
                      </a>
                  </div>
              </div>
          </div>
      </div>

      <div class='breadcrumb'>
          <div class='customizeContainer'>
              <div class='row-fluid'>
                  <div class='span12'>
                      <div :xmlns:v='http://rdf.data-vocabulary.org/#' class='innerBreadcrumb'>
  <span ng-hide='loaded' typeof='v:Breadcrumb'>
  <span class='lastLink' typeof='v:Breadcrumb'>

  Expert Mentors
  </span>
  </span>
  <span class='ng-cloak' ng-if='loaded' typeof='v:Breadcrumb'>
  <span typeof='v:Breadcrumb'>
  <span class='lastLink'>
  Expert Mentors
  </span>
  </span>
  </span>

                          <div class='searchBlock'>
                              <div class='customizeContainer'>
                                  <div class='row-fluid'>
                                      <div class='span9'>
                                          <div class='searchBarContent'>
                                              <div class='control-group text required question_category_names tagInput'>
                                                  <div class='controls' ng-class='{requiredWarning:requiredWarning}'>
                                                      <tags-input max-tags='100' min-length='1' ng-model='tags'>
                                                          <auto-complete min-length='1'></auto-complete>
                                                      </tags-input>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class='searchButton' >
                                              Tìm kiếm
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class='switchBlock' ng-show="tags_name.length == 0 || tags_name[0] == ''">
                              <div class='row-fluid'>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/webprogram'>
                                              <center>
                                                  <img alt='Web Programming' class='imgBlock'
                                                       src='/image/topic/web-programming.png'>
  <span class='titleBlock'>
  Web Programming
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/ruby-expert-help.png'>
                                                      <a class='catLink' href='/ruby-experts'>
                                                          Ruby
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/category/javascript.png'>
                                                      <a class='catLink' href='/javascript-experts'>
                                                          JavaScript
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/angular-js-expert-help.png'>
                                                      <a class='catLink' href='/angularjs-experts'>
                                                          AngularJS
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/python-expert-help.png'>
                                                      <a class='catLink' href='/python-experts'>
                                                          Python
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/php-expert-help.png'>
                                                      <a class='catLink' href='/php-experts'>
                                                          PHP
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/html-css-expert-help.png'>
                                                      <a class='catLink' href='/html_css-experts'>
                                                          HTML/CSS
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/coding'>
                                              <center>
                                                  <img alt='Code' class='imgBlock'
                                                       src='/image/topic/coding.png'>
  <span class='titleBlock'>
  Code
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/ruby-expert-help.png'>
                                                      <a class='catLink' href='/ruby-experts'>
                                                          Ruby
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/javascript-expert-help.png'>
                                                      <a class='catLink' href='/javascript-experts'>
                                                          JavaScript
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/php-expert-help.png'>
                                                      <a class='catLink' href='/php-experts'>
                                                          PHP
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/python-expert-help.png'>
                                                      <a class='catLink' href='/python-experts'>
                                                          Python
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/java-expert-help.png'>
                                                      <a class='catLink' href='/java-experts'>
                                                          Java
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/csharp-expert-help.png'>
                                                      <a class='catLink' href='/c_sharp-experts'>
                                                          C#
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/mobile-app-programming'>
                                              <center>
                                                  <img alt='Mobile App Programming' class='imgBlock'
                                                       src='/image/topic/mobile-app-programming.png'>
  <span class='titleBlock'>
  Mobile App Programming
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/ios-expert-help.png'>
                                                      <a class='catLink' href='/ios-experts'>
                                                          iOS
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/android-expert-help.png'>
                                                      <a class='catLink' href='/android-experts'>
                                                          Android
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/swift-expert-help.png'>
                                                      <a class='catLink' href='/swift-experts'>
                                                          Swift
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/phonegap-experts'>
                                                          PhoneGap
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/cordova-experts'>
                                                          Cordova
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/ionic-experts'>
                                                          Ionic
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class='row-fluid'>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/design'>
                                              <center>
                                                  <img alt='Design / UX' class='imgBlock'
                                                       src='/image/topic/design.png'>
  <span class='titleBlock'>
  Design / UX
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/html-css-expert-help.png'>
                                                      <a class='catLink' href='/html_css-experts'>
                                                          HTML/CSS
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/css-experts'>
                                                          CSS
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/sass-experts'>
                                                          Sass
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/twitter-bootstrap-experts'>
                                                          Twitter bootstrap
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/famous-expert-help.png'>
                                                      <a class='catLink' href='/famous-experts'>
                                                          Famo.us
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/kendo-ui-expert-help.png'>
                                                      <a class='catLink' href='/kendo-ui-experts'>
                                                          Kendo UI
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/devops'>
                                              <center>
                                                  <img alt='Database / Operations' class='imgBlock'
                                                       src='/image/topic/devops.png'>
  <span class='titleBlock'>
  Database / Operations
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/server-expert-help.png'>
                                                      <a class='catLink' href='/server-experts'>
                                                          Server
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/devops-expert-help.png'>
                                                      <a class='catLink' href='/devops-experts'>
                                                          DevOps
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/mysql-expert-help.png'>
                                                      <a class='catLink' href='/mysql-experts'>
                                                          MySQL
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/sql-expert-help.png'>
                                                      <a class='catLink' href='/sql-experts'>
                                                          SQL
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/mongo-db-expert-help.png'>
                                                      <a class='catLink' href='/mongodb-experts'>
                                                          MongoDB
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/hadoop-expert-help.png'>
                                                      <a class='catLink' href='/hadoop-experts'>
                                                          Hadoop
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class='span4'>
                                      <div class='topicBlock'>
                                          <a class='link' href='/experts/development-process'>
                                              <center>
                                                  <img alt='Development Process / Tools' class='imgBlock'
                                                       src='/image/topic/development-process.png'>
  <span class='titleBlock'>
  Development Process / Tools
  </span>
                                              </center>
                                          </a>

                                          <div class='moreLink'>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/git-expert-help.png'>
                                                      <a class='catLink' href='/git-experts'>
                                                          Git
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/devops-expert-help.png'>
                                                      <a class='catLink' href='/devops-experts'>
                                                          DevOps
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/wordpress.png'>
                                                      <a class='catLink' href='/wordpress-experts'>
                                                          WordPress
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/drupal-expert-help.png'>
                                                      <a class='catLink' href='/drupal-experts'>
                                                          Drupal
                                                      </a>
                                                  </div>
                                              </div>
                                              <div class='row-fluid'>
                                                  <div class='span6'>
                                                      <img class='catImg' src='/image/experts/no-icon.png'>
                                                      <a class='catLink' href='/joomla-experts'>
                                                          Joomla
                                                      </a>
                                                  </div>
                                                  <div class='span6'>
                                                      <img class='catImg'
                                                           src='/image/experts/seo-expert-help.png'>
                                                      <a class='catLink' href='/seo-experts'>
                                                          SEO
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{{outlet}}
