<div id='fb-root'></div>
<div class='navbar menu_new_v2' id='main-header' style='margin-bottom:0px;'>
    <div class='navbar-inner notFixed'>
        <div class='container'>
            <div class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </div>
            <a class='brand' href='www_codementor_default.html'>
                <img width="140" height="19" alt="Codementor"
                     src="image/codementor-logo.png"/>
            </a>
            <!-- Unsign Up User -->
            <div class='nav-collapse collapse'>
                <ul class='nav'>
                    <!-- Expert Part / -->
                    <li class='showMobile'>
                        <a href='https://www.codementor.io/experts'>Expert Mentors</a>
                    </li>
                    <li class='learnTopMenu hideMobile'>
                        <a class='learnTopLink' href='https://www.codementor.io/experts'>
                            Expert Mentors
                            <b class='caret'></b>
                        </a>
                        <ul aria-labelledby='dropdownMenu' class='learnSecondMenu expert-second-menu' role='menu'>
                            <!-- Get all exist category obj -->
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/experts/web-programming'
                                   tabindex='-1'>
                                    Web Programming
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn'
                                                   href='https://www.codementor.io/experts/web-programming'
                                                   tabindex='-1'>
                                                    Web Programming
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ruby-experts'
                                                   tabindex='-1'>
                                                    Ruby
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/javascript-experts'
                                                   tabindex='-1'>
                                                    JavaScript
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/angularjs-experts'
                                                   tabindex='-1'>
                                                    AngularJS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/python-experts'
                                                   tabindex='-1'>
                                                    Python
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/php-experts'
                                                   tabindex='-1'>
                                                    PHP
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/html_css-experts'
                                                   tabindex='-1'>
                                                    HTML/CSS
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/jquery-experts'
                                                   tabindex='-1'>
                                                    jQuery
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink'
                                                   href='https://www.codementor.io/ruby-on-rails-experts' tabindex='-1'>
                                                    Ruby on Rails
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/experts/coding'
                                   tabindex='-1'>
                                    Code
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/experts/coding'
                                                   tabindex='-1'>
                                                    Code
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ruby-experts'
                                                   tabindex='-1'>
                                                    Ruby
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/javascript-experts'
                                                   tabindex='-1'>
                                                    JavaScript
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/php-experts'
                                                   tabindex='-1'>
                                                    PHP
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/python-experts'
                                                   tabindex='-1'>
                                                    Python
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/java-experts'
                                                   tabindex='-1'>
                                                    Java
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/c_sharp-experts'
                                                   tabindex='-1'>
                                                    C#
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink'
                                                   href='https://www.codementor.io/c_plus_plus-experts' tabindex='-1'>
                                                    C++
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/go-experts'
                                                   tabindex='-1'>
                                                    Go
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem'
                                   href='https://www.codementor.io/experts/mobile-app-programming' tabindex='-1'>
                                    Mobile App Programming
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn'
                                                   href='https://www.codementor.io/experts/mobile-app-programming'
                                                   tabindex='-1'>
                                                    Mobile App Programming
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ios-experts'
                                                   tabindex='-1'>
                                                    iOS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/android-experts'
                                                   tabindex='-1'>
                                                    Android
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/swift-experts'
                                                   tabindex='-1'>
                                                    Swift
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/phonegap-experts'
                                                   tabindex='-1'>
                                                    PhoneGap
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/cordova-experts'
                                                   tabindex='-1'>
                                                    Cordova
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ionic-experts'
                                                   tabindex='-1'>
                                                    Ionic
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/titanium-experts'
                                                   tabindex='-1'>
                                                    Titanium
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/sencha-experts'
                                                   tabindex='-1'>
                                                    Sencha
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/experts/design'
                                   tabindex='-1'>
                                    Design / UX
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/experts/design'
                                                   tabindex='-1'>
                                                    Design / UX
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/html_css-experts'
                                                   tabindex='-1'>
                                                    HTML/CSS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/css-experts'
                                                   tabindex='-1'>
                                                    CSS
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/sass-experts'
                                                   tabindex='-1'>
                                                    Sass
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink'
                                                   href='https://www.codementor.io/twitter-bootstrap-experts'
                                                   tabindex='-1'>
                                                    Twitter bootstrap
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/famous-experts'
                                                   tabindex='-1'>
                                                    Famo.us
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/kendo-ui-experts'
                                                   tabindex='-1'>
                                                    Kendo UI
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink'
                                                   href='https://www.codementor.io/responsive-design-experts'
                                                   tabindex='-1'>
                                                    Responsive design
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/foundation-experts'
                                                   tabindex='-1'>
                                                    Foundation
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/experts/devops'
                                   tabindex='-1'>
                                    Database / Operations
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/experts/devops'
                                                   tabindex='-1'>
                                                    Database / Operations
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/server-experts'
                                                   tabindex='-1'>
                                                    Server
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/devops-experts'
                                                   tabindex='-1'>
                                                    DevOps
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/mysql-experts'
                                                   tabindex='-1'>
                                                    MySQL
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/sql-experts'
                                                   tabindex='-1'>
                                                    SQL
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/mongodb-experts'
                                                   tabindex='-1'>
                                                    MongoDB
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/hadoop-experts'
                                                   tabindex='-1'>
                                                    Hadoop
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/apache-experts'
                                                   tabindex='-1'>
                                                    Apache
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/linux-experts'
                                                   tabindex='-1'>
                                                    Linux
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem'
                                   href='https://www.codementor.io/experts/development-process' tabindex='-1'>
                                    Development Process / Tools
                                </a>

                                <div class='learnThirdMenu expert-third-menu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn'
                                                   href='https://www.codementor.io/experts/development-process'
                                                   tabindex='-1'>
                                                    Development Process / Tools
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/git-experts'
                                                   tabindex='-1'>
                                                    Git
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/devops-experts'
                                                   tabindex='-1'>
                                                    DevOps
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/wordpress-experts'
                                                   tabindex='-1'>
                                                    WordPress
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/drupal-experts'
                                                   tabindex='-1'>
                                                    Drupal
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/joomla-experts'
                                                   tabindex='-1'>
                                                    Joomla
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/seo-experts'
                                                   tabindex='-1'>
                                                    SEO
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/vim-experts'
                                                   tabindex='-1'>
                                                    Vim
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/bower-experts'
                                                   tabindex='-1'>
                                                    Bower
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Free Resources Part / -->
                    <li class='showMobile'>
                        <a href='https://www.codementor.io/learn'>Free Tutorials</a>
                    </li>
                    <li class='learnTopMenu hideMobile'>
                        <a class='learnTopLink' href='https://www.codementor.io/learn'>
                            Free Tutorials
                            <b class='caret'></b>
                        </a>
                        <ul aria-labelledby='dropdownMenu' class='learnSecondMenu' role='menu'>
                            <!-- Get all exist category obj -->
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/learn/coding'
                                   tabindex='-1'>
                                    Code
                                </a>

                                <div class='learnThirdMenu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/learn/coding'
                                                   tabindex='-1'>
                                                    Code
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ruby-on-rails'
                                                   tabindex='-1'>
                                                    Ruby on Rails
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/javascript'
                                                   tabindex='-1'>
                                                    JavaScript
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/angularjs'
                                                   tabindex='-1'>
                                                    AngularJS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/python'
                                                   tabindex='-1'>
                                                    Python
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/ios' tabindex='-1'>
                                                    iOS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/android'
                                                   tabindex='-1'>
                                                    Android
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/php' tabindex='-1'>
                                                    PHP
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/swift'
                                                   tabindex='-1'>
                                                    Swift
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all exist category obj -->
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/learn/web-design'
                                   tabindex='-1'>
                                    Web Design / UX
                                </a>

                                <div class='learnThirdMenu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/learn/web-design'
                                                   tabindex='-1'>
                                                    Web Design / UX
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/css' tabindex='-1'>
                                                    CSS
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/html_css'
                                                   tabindex='-1'>
                                                    HTML/CSS
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/kendo-ui'
                                                   tabindex='-1'>
                                                    Kendo UI
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/design'
                                                   tabindex='-1'>
                                                    Design
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all exist category obj -->
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/learn/development-process'
                                   tabindex='-1'>
                                    Development Process and Tools
                                </a>

                                <div class='learnThirdMenu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn'
                                                   href='https://www.codementor.io/learn/development-process'
                                                   tabindex='-1'>
                                                    Development Process and Tools
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/wordpress'
                                                   tabindex='-1'>
                                                    WordPress
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/git' tabindex='-1'>
                                                    Git
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/keen-io'
                                                   tabindex='-1'>
                                                    Keen IO
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/bower'
                                                   tabindex='-1'>
                                                    Bower
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/magento'
                                                   tabindex='-1'>
                                                    Magento
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/restful'
                                                   tabindex='-1'>
                                                    RESTful
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/tmux'
                                                   tabindex='-1'>
                                                    Tmux
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink'
                                                   href='https://www.codementor.io/development-process' tabindex='-1'>
                                                    Development process
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Get all exist category obj -->
                            <!-- Get all existing category ids -->
                            <li class='item subMenuItem'>
                                <a class='sublink secondItem' href='https://www.codementor.io/learn/devops'
                                   tabindex='-1'>
                                    Deployment / Operations
                                </a>

                                <div class='learnThirdMenu'>
                                    <div class='row-fluid'>
                                        <div class='span12'>
                                            <div class='header-item'>
                                                <a class='topic-btn' href='https://www.codementor.io/learn/devops'
                                                   tabindex='-1'>
                                                    Deployment / Operations
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/sql' tabindex='-1'>
                                                    SQL
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/bower'
                                                   tabindex='-1'>
                                                    Bower
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/devops'
                                                   tabindex='-1'>
                                                    DevOps
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/linux'
                                                   tabindex='-1'>
                                                    Linux
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/docker'
                                                   tabindex='-1'>
                                                    Docker
                                                </a>
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/mongodb'
                                                   tabindex='-1'>
                                                    MongoDB
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='item subMenuItem'>
                                                <a class='thirdlink' href='https://www.codementor.io/spark'
                                                   tabindex='-1'>
                                                    Spark
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class='item subMenuItem'>
                                <a class='sublink moreLink'
                                   href='https://www.codementor.io/startups/tutorial'>Startups</a>
                            </li>
                            <li class='divider'></li>
                            <li class='item subMenuItem'>
                                <a class='sublink moreLink' href='https://www.codementor.io/learn/office-hours'>
                                    Free Office Hours
                                </a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class='sublink moreLink' href='https://www.codementor.io/ama'>
                                    AMA for Developers
                                </a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class='sublink moreLink' href='https://www.codementor.io/tips'>Quick Tips</a>
                            </li>
                        </ul>
                    </li>
                    <li class='learnTopMenu hideMobile'>
                        <a class='learnTopLink' href='https://www.codementor.io/classes'>
                            Live Classes
                            <b class='caret'></b>
                        </a>
                        <ul class='learnSecondMenu classes-second-menu'>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/learn-ruby-on-rails-live">Ruby on Rails</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/beginner-frontend-development">JavaScript</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/learn-angularjs-live">AngularJS</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/learn-python-live">Python</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem" href="https://www.codementor.io/classes/learn-php-live">PHP</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem" href="https://www.codementor.io/classes/learn-swift-live">Swift</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/android-crash-course">Android</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem"
                                   href="https://www.codementor.io/classes/startup-idea-prototype-mvp">Idea to MVP</a>
                            </li>
                            <li class='item subMenuItem'>
                                <a class="sublink secondItem" href="https://www.codementor.io/classes/es6-crash-course">ES6</a>
                            </li>
                        </ul>
                    </li>
                    <li class='showMobile'>
                        <a href='https://www.codementor.io/classes'>Live Classes</a>
                    </li>
                    <li>
                        <a href='https://www.codementor.io/monthly'>Monthly Plans</a>
                    </li>
                    <li>
                        <a href='https://www.codementor.io/hire'>Hire</a>
                    </li>
                    <li>
                        <a href='https://www.codementor.io/howitworks'>How it Works</a>
                    </li>
                    <li class='hideTablet'>
                        <a href='https://www.codementor.io/mentor/apply'>Become a Codementor</a>
                    </li>
                </ul>
                }
                <ul class='nav pull-right'>
                    <li>
                        <a class='highlight red-btn' data-target='#signup-modal' data-toggle='modal'
                           id='headerSignUpBtn'>Sign Up</a>
                    </li>
                    <li>
                        <a href='/user/signin'>Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{outlet}}

<footer class="footer-block">
    <div class="footer-container" ng-class="{'text-center': Viewport.phoneOnly}">
        <div class="footer-block__link-block">
            <div class="row-fluid">
                <div class="span4">
                    <div>
                        <div class="footer-block__header">
                            Expert Help
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="footer-block__subheader">
                                TOPICS
                            </div>
                            <a class="footer-block__link" href="https://www.codementor.io/experts/web-programming">
                                Web Programming
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/experts/coding">
                                Code
                            </a>
                            <a class="footer-block__link"
                               href="https://www.codementor.io/experts/mobile-app-programming">
                                Mobile App Programming
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/experts/design">
                                Design / UX
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/experts/devops">
                                Database / Operations
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/experts/development-process">
                                Development Process / Tools
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/experts">View All</a>
                        </div>
                        <div class="span6">
                            <div class="footer-block__subheader">
                                POPULAR CATEGORIES
                            </div>
                            <a class="footer-block__link"
                               href="https://www.codementor.io/javascript-experts">Javascript</a>
                            <a class="footer-block__link"
                               href="https://www.codementor.io/angularjs-experts">AngularJS</a>
                            <a class="footer-block__link" href="https://www.codementor.io/ruby-on-rails-experts">Ruby on
                                Rails</a>
                            <a class="footer-block__link" href="https://www.codementor.io/python-experts">Python</a>
                            <a class="footer-block__link" href="https://www.codementor.io/android-experts">Android</a>
                            <a class="footer-block__link" href="https://www.codementor.io/ios-experts">iOS</a>

                            <a class="footer-block__link" href="https://www.codementor.io/c_sharp-experts">C#</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <div class="footer-block__header">
                            Learning Center
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="footer-block__subheader">
                                TOPICS
                            </div>
                            <a class="footer-block__link" href="https://www.codementor.io/learn/coding">
                                Code
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/learn/web-design">
                                Web Design / UX
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/learn/development-process">
                                Development Process and Tools
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/learn/devops">
                                Deployment / Operations
                            </a>
                            <a class="footer-block__link" href="https://www.codementor.io/learn">View All</a>
                        </div>
                        <div class="span6">
                            <div class="footer-block__subheader">
                                RESOURCES
                            </div>
                            <a class="footer-block__link" href="https://www.codementor.io/ama">AMA for Developers</a>
                            <a class="footer-block__link" href="https://www.codementor.io/learn/office-hours">Office
                                Hours</a>
                            <a class="footer-block__link" href="https://www.codementor.io/javascript-frameworks">Javascript
                                Frameworks</a>
                            <a class="footer-block__link" href="https://www.codementor.io/monthly">Codementor
                                Monthly</a>
                            <a class="footer-block__link" href="https://www.codementor.io/tutorial">Tutorials</a>
                            <a class="footer-block__link" href="https://www.codementor.io/tips">Tips</a>
                            <a class="footer-block__link" href="https://www.codementor.io/tutors">Tutors</a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <div class="footer-block__header">
                            Company
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="footer-block__subheader">
                                INFO
                            </div>
                            <a class="footer-block__link" href="https://www.codementor.io/mentor/apply">Become a
                                Codementor</a>
                            <a class="footer-block__link" href="https://www.codementor.io/business">Codementor for
                                Business</a>
                            <a class="footer-block__link" href="https://www.codementor.io/howitworks">How It Works</a>
                            <a class="footer-block__link" href="https://www.codementor.io/success-stories">Success
                                Stories</a>
                            <a class="footer-block__link" href="https://www.codementor.io/free">Get Free Credit</a>
                            <a class="footer-block__link" href="https://www.codementor.io/write-for-us">Write for Us</a>
                        </div>
                        <div class="span6">
                            <div class="footer-block__subheader">
                                &nbsp;
                            </div>
                            <a class="footer-block__link" href="mailto:support@codementor.io" encode="javascript">Contact
                                Us</a>
                            <a class="footer-block__link" href="https://www.codementor.io/faq">FAQ</a>
                            <a class="footer-block__link" href="https://angel.co/codementor/jobs/">Jobs</a>
                            <a class="footer-block__link" href="https://www.codementor.io/blog">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-block__company-info">
            <div class="row-fluid">
                <div class="span8">
                    <div class="pull-left footer-block__company-info__left">
                        <div class="footer-block__company-info__company-name">
                            Codementor
                        </div>
                        <div class="footer-block__company-info__slogan">
                            Instant 1:1 help from expert developers
                        </div>
                    </div>
                    <div class="pull-left footer-block__company-info__right">
                        <a href="http://www.facebook.com/codementor">
                            <div class="social-icon">
                                <i class="fa fa-facebook"></i>
                            </div>
                        </a>
                        <a href="http://www.twitter.com/codementorIO">
                            <div class="social-icon">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </a>
                        <a href="https://plus.google.com/102580007686679046547">
                            <div class="social-icon">
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </a>
                        <a href="https://mixpanel.com/f/partner">
                            <img class="mixpanel" alt="Mobile Analytics"
                                 src="https://www.codementor.io/cdn.mxpnl.com/site_media/images/partner/badge_blue.png"/>
                        </a>
                    </div>
                </div>
                <div class="span4">
                    <div class="footer-block__company-info__copy-right">
              <span>
                 Copyright 2015 Codementor
              </span>
                    </div>
                    <div class="footer-block__company-info__term-of-service">
                        <a href="https://www.codementor.io/terms">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- %li
        -->
        <!--   = link_to "Privacy", privacy_path
        -->
        <!-- %li.muted 
        -->
    </div>
</footer>

<app-sound></app-sound>
<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='signup-modal'
     role='document' tabindex='-1'>
    <div class='modal-header'>
        <h3>
           ma
        </h3>
    </div>
    <div class='modal-body' style='overflow: hidden;'>

        <div class='extra-info alter alert-success ng-cloak' ng-show='sf.extraInfo'>
          {{sf.extraInfo}}
        </div>
        <div class='row-fluid'>
            <div class='span5'>
                <div class='leftBlock'>
                    <p class='signup-txt'>
                        <b>
                            Codementor
                        </b>
                        your instant 1:1 expert mentor helping you in real time.
                    </p>

                    <div class='muted'>
                        Have an account?
                        <a href="sign-in.html">Sign In</a>
                    </div>
                    <div class='applyMentor'>
                        <a class='side_link' href='https://www.codementor.io/mentor/apply'
                           ng-hide='sf.becomeMentorLink===false'>Want to become a Codementor?</a>
                    </div>
                </div>
            </div>
            <div class='span7'>
                <div class='menuSignUpForm'>
                    <form class="simple_form form-inline" id="new_user"
                          action="https://www.codementor.io/offers_signup?utm_campaign=&amp;utm_source=&amp;utm_medium="
                          accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input
                            type="hidden" name="authenticity_token"
                            value="fLpehfze/sWUk6rnraZUWuzoKiebCx43h1QmmKx0stwnucR3CYhOrNXG24a2dR1TtrYyAaAfMggRCV/LWdxaEg=="/>

                        <div class='sign_up_form'>
                            <input label="false" class="string email required bigform input_email" type="email"
                                   pattern=".*" placeholder="Email address" name="user[email]" id="user_email"/>
                            <input class='hidden' name='is_offers' type='hidden' value='false'>
                            <input class='hidden' name='is_refferral' type='hidden' value='false'>
                            <input class='hidden' name='is_promotion' type='hidden' value='false'>
                            <input class='hidden' name='promo_code' type='hidden' value=''>
                            <input class='hidden' name='promotion_type' type='hidden'>
                            <input class='hidden' name='utm_seo' type='hidden' value=''>
                            <input class='hidden' name='utm_form' type='hidden' value='menu_new_form'>
                            <input class='hidden' name='pending_msg_content' type='hidden' value=''>
                            <input class='hidden' name='pending_msg_mentor' type='hidden' value=''>
                            <input class='hidden' name='office_hour' type='hidden' value=''>

                            <div class='action clearfix'>
                                <input type="submit" name="commit" value="Sign Up" class="btn btn-primary pull-right"/>

                                <div class='muted pull-right termOfService'>
                                    By clicking the button, you agree to the
                                    <a href='https://www.codementor.io/terms' target='_blank'>terms</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#signup-modal').on('shown', function(){
            $('#signup-modal input.email').focus();
        });
    });
</script>
