<h1>h1</h1>
<div class='directory' ng-controller='DirectoryCtrl as directory'
     ng-init='initialSet(&#x0027;&#x0027;,0,false,false,2648,1,15, {"Ruby":"ruby-expert-help","JavaScript":"javascript-expert-help","HTML/CSS":"html-css-expert-help","PHP":"php-expert-help","Python":"python-expert-help","iOS":"ios-expert-help","Android":"android-expert-help","Java":"java-expert-help","C#":"csharp-expert-help","C++":"cplusplus-expert-help","Go":"go-expert-help","C":"c-expert-help","SQL":"sql-expert-help","Clojure":"clojure-expert-help","Ruby on Rails":"ruby-on-rails-expert-help","Django":"django-expert-help","Scala":"scala-expert-help",".Net":"dotnet-expert-help","Node.js":"node-js-expert-help","Haskell":"haskell-expert-help","Perl":"perl-expert-help","jQuery":"jquery-expert-help","MySQL":"mysql-expert-help","AWS":"amazon-expert-help","Git":"git-expert-help","CoffeeScript":"coffeescript-expert-help","Backbone.js":"backbone-js-expert-help","Server":"server-expert-help","Erlang":"erlang-expert-help","MongoDB":"mongo-db-expert-help","AngularJS":"angular-js-expert-help","DevOps":"devops-expert-help","WordPress":"wordpress","Ember.js":"ember-js-expert-help","Meteor":"meteor-expert-help","Flask":"flask-expert-help","Drupal":"drupal-expert-help","SEO":"seo-expert-help","Hadoop":"hadoop-expert-help","Famo.us":"famous-expert-help","Kendo UI":"kendo-ui-expert-help","Swift":"swift-expert-help","React":"reactjs-expert-help"}, 0, [], ["web-programming", "coding", "mobile-app-programming", "design", "devops", "development-process"], [{"id":2,"name":"JavaScript","url_string":"javascript","display_name":"JavaScript","icon":"javascript-expert-help"},{"id":3,"name":"html-css","url_string":"html_css","display_name":"HTML/CSS","icon":"html-css-expert-help"},{"id":4,"name":"PHP","url_string":"php","display_name":"PHP","icon":"php-expert-help"},{"id":5,"name":"Python","url_string":"python","display_name":"Python","icon":"python-expert-help"},{"id":6,"name":"iOS","url_string":"ios","display_name":"iOS","icon":"ios-expert-help"},{"id":7,"name":"Android","url_string":"android","display_name":"Android","icon":"android-expert-help"},{"id":8,"name":"Java","url_string":"java","display_name":"Java","icon":"java-expert-help"},{"id":9,"name":"C#","url_string":"c_sharp","display_name":"C#","icon":"csharp-expert-help"},{"id":10,"name":"C++","url_string":"c_plus_plus","display_name":"C++","icon":"cplusplus-expert-help"},{"id":11,"name":"Go","url_string":"go","display_name":"Go","icon":"go-expert-help"},{"id":13,"name":"SQL","url_string":"sql","display_name":"SQL","icon":"sql-expert-help"},{"id":15,"name":"ruby-on-rails","url_string":"ruby-on-rails","display_name":"Ruby on Rails","icon":"ruby-on-rails-expert-help"},{"id":19,"name":"Node.js","url_string":"nodejs","display_name":"Node.js","icon":"node-js-expert-help"},{"id":20,"name":"Haskell","url_string":"haskell","display_name":"Haskell","icon":"haskell-expert-help"},{"id":25,"name":"Git","url_string":"git","display_name":"Git","icon":"git-expert-help"},{"id":30,"name":"MongoDB","url_string":"mongodb","display_name":"MongoDB","icon":"mongo-db-expert-help"},{"id":31,"name":"AngularJS","url_string":"angularjs","display_name":"AngularJS","icon":"angular-js-expert-help"},{"id":32,"name":"DevOps","url_string":"devops","display_name":"DevOps","icon":"devops-expert-help"},{"id":33,"name":"WordPress","url_string":"wordpress","display_name":"WordPress","icon":"wordpress"},{"id":34,"name":"Ember.js","url_string":"ember-js","display_name":"Ember.js","icon":"ember-js-expert-help"},{"id":36,"name":"Meteor","url_string":"meteor","display_name":"Meteor","icon":"meteor-expert-help"},{"id":42,"name":"css","url_string":"css","display_name":"CSS","icon":"no-icon"},{"id":53,"name":"linux","url_string":"linux","display_name":"Linux","icon":"no-icon"},{"id":61,"name":"r","url_string":"r","display_name":"R","icon":"no-icon"},{"id":124,"name":"magento","url_string":"magento","display_name":"Magento","icon":"no-icon"},{"id":211,"name":"design","url_string":"design","display_name":"Design","icon":"no-icon"},{"id":497,"name":"kendo-ui","url_string":"kendo-ui","display_name":"Kendo UI","icon":"kendo-ui-expert-help"},{"id":1398,"name":"corona","url_string":"corona","display_name":"Corona","icon":"no-icon"},{"id":2123,"name":"bower","url_string":"bower","display_name":"Bower","icon":"no-icon"},{"id":2128,"name":"restful","url_string":"restful","display_name":"RESTful","icon":"no-icon"},{"id":2282,"name":"spark","url_string":"spark","display_name":"Spark","icon":"no-icon"},{"id":2526,"name":"famo.us","url_string":"famous","display_name":"Famo.us","icon":"famous-expert-help"},{"id":2571,"name":"swift","url_string":"swift","display_name":"Swift","icon":"swift-expert-help"},{"id":2706,"name":"docker","url_string":"docker","display_name":"Docker","icon":"no-icon"},{"id":3016,"name":"reactjs","url_string":"reactjs","display_name":"React","icon":"reactjs-expert-help"},{"id":3030,"name":"data-science","url_string":"data-science","display_name":"Data Science","icon":"no-icon"},{"id":3656,"name":"tmux","url_string":"tmux","display_name":"Tmux","icon":"no-icon"},{"id":5271,"name":"keen-io","url_string":"keen-io","display_name":"Keen IO","icon":"no-icon"},{"id":5321,"name":"Rust","url_string":"rust","display_name":"Rust","icon":"no-icon"},{"id":7767,"name":"development-process","url_string":"development-process","display_name":"Development process","icon":"no-icon"}]);'>
    <div class='topBlock'>
        <div class='customizeContainer'>
            <div class='row-fluid'>
                <div class='span10 offset1 text-center'>
                    <h1 class='h1Title'>Codementor Software Expert Help</h1>

                    <p class='h1Description'>Get instant 1:1 help from expert developers on Codementor.
                        Experts on Codementor include book authors, creators of
                        popular open source libraries, programming tutors, and engineers at well-known
                        tech companies.</p>
                    <a class='actionLink' data-target='#signup-modal' data-toggle='modal' role='button'>
                        Get Help Now
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='breadcrumb'>
        <div class='customizeContainer'>
            <div class='row-fluid'>
                <div class='span12'>
                    <div :xmlns:v='http://rdf.data-vocabulary.org/#' class='innerBreadcrumb'>
<span ng-hide='loaded' typeof='v:Breadcrumb'>
<span class='lastLink' typeof='v:Breadcrumb'>

Expert Mentors
</span>
</span>
<span class='ng-cloak' ng-if='loaded' typeof='v:Breadcrumb'>
<span typeof='v:Breadcrumb'>
<span class='lastLink'>
Expert Mentors
</span>
</span>
</span>

                        <div class='searchBlock'>
                            <div class='customizeContainer'>
                                <div class='row-fluid'>
                                    <div class='span9'>
                                        <div class='searchBarContent'>
                                            <div class='control-group text required question_category_names tagInput'
                                                 ng-controller='CategoryCtrl as cc'
                                                 ng-init="cc.setDefaultRecommand(['ruby-on-rails','javascript','php','python','ios','android']);max=5;cc.initTags([])"
                                                 ng-keyup='detectSubmit($event)'>
                                                <div class='controls' ng-class='{requiredWarning:requiredWarning}'>
                                                    <tags-input max-tags='100' min-length='1' ng-model='tags'
                                                                on-tag-added='cc.onAddTag($tag)'
                                                                on-tag-removed='cc.onRemoveTag($tag)'
                                                                placeholder='Type category name (eg. JavaScript)'>
                                                        <auto-complete min-length='1'
                                                                       source='cc.loadTags($query)'></auto-complete>
                                                    </tags-input>
                                                </div>
                                                <input class='hidden questionCategories' name='categories[]'
                                                       ng-repeat='tag in tags' type='hidden'
                                                       value='{{tag.text.}}'>
                                            </div>
                                        </div>
                                        <div class='searchButton' ng-click='searchAlgolia(true)'>
                                            Search
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='switchBlock' ng-show="tags_name.length == 0 || tags_name[0] == ''">
                            <div class='row-fluid'>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/web-programming'>
                                            <center>
                                                <img alt='Web Programming' class='imgBlock'
                                                     src='../../public/image/topic/web-programming.png'>
<span class='titleBlock'>
Web Programming
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/ruby-expert-help.png'>
                                                    <a class='catLink' href='/ruby-experts'>
                                                        Ruby
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/category/javascript.png'>
                                                    <a class='catLink' href='/javascript-experts'>
                                                        JavaScript
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/angular-js-expert-help.png'>
                                                    <a class='catLink' href='/angularjs-experts'>
                                                        AngularJS
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/python-expert-help.png'>
                                                    <a class='catLink' href='/python-experts'>
                                                        Python
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/php-expert-help.png'>
                                                    <a class='catLink' href='/php-experts'>
                                                        PHP
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/html-css-expert-help.png'>
                                                    <a class='catLink' href='/html_css-experts'>
                                                        HTML/CSS
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/coding'>
                                            <center>
                                                <img alt='Code' class='imgBlock'
                                                     src='../../public/image/topic/coding.png'>
<span class='titleBlock'>
Code
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/ruby-expert-help.png'>
                                                    <a class='catLink' href='/ruby-experts'>
                                                        Ruby
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/javascript-expert-help.png'>
                                                    <a class='catLink' href='/javascript-experts'>
                                                        JavaScript
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/php-expert-help.png'>
                                                    <a class='catLink' href='/php-experts'>
                                                        PHP
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/python-expert-help.png'>
                                                    <a class='catLink' href='/python-experts'>
                                                        Python
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/java-expert-help.png'>
                                                    <a class='catLink' href='/java-experts'>
                                                        Java
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/csharp-expert-help.png'>
                                                    <a class='catLink' href='/c_sharp-experts'>
                                                        C#
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/mobile-app-programming'>
                                            <center>
                                                <img alt='Mobile App Programming' class='imgBlock'
                                                     src='../../public/image/topic/mobile-app-programming.png'>
<span class='titleBlock'>
Mobile App Programming
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/ios-expert-help.png'>
                                                    <a class='catLink' href='/ios-experts'>
                                                        iOS
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/android-expert-help.png'>
                                                    <a class='catLink' href='/android-experts'>
                                                        Android
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/swift-expert-help.png'>
                                                    <a class='catLink' href='/swift-experts'>
                                                        Swift
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/phonegap-experts'>
                                                        PhoneGap
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/cordova-experts'>
                                                        Cordova
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/ionic-experts'>
                                                        Ionic
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row-fluid'>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/design'>
                                            <center>
                                                <img alt='Design / UX' class='imgBlock'
                                                     src='../../public/image/topic/design.png'>
<span class='titleBlock'>
Design / UX
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/html-css-expert-help.png'>
                                                    <a class='catLink' href='/html_css-experts'>
                                                        HTML/CSS
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/css-experts'>
                                                        CSS
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/sass-experts'>
                                                        Sass
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/twitter-bootstrap-experts'>
                                                        Twitter bootstrap
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/famous-expert-help.png'>
                                                    <a class='catLink' href='/famous-experts'>
                                                        Famo.us
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/kendo-ui-expert-help.png'>
                                                    <a class='catLink' href='/kendo-ui-experts'>
                                                        Kendo UI
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/devops'>
                                            <center>
                                                <img alt='Database / Operations' class='imgBlock'
                                                     src='../../public/image/topic/devops.png'>
<span class='titleBlock'>
Database / Operations
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/server-expert-help.png'>
                                                    <a class='catLink' href='/server-experts'>
                                                        Server
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/devops-expert-help.png'>
                                                    <a class='catLink' href='/devops-experts'>
                                                        DevOps
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/mysql-expert-help.png'>
                                                    <a class='catLink' href='/mysql-experts'>
                                                        MySQL
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/sql-expert-help.png'>
                                                    <a class='catLink' href='/sql-experts'>
                                                        SQL
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/mongo-db-expert-help.png'>
                                                    <a class='catLink' href='/mongodb-experts'>
                                                        MongoDB
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/hadoop-expert-help.png'>
                                                    <a class='catLink' href='/hadoop-experts'>
                                                        Hadoop
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='span4'>
                                    <div class='topicBlock'>
                                        <a class='link' href='/experts/development-process'>
                                            <center>
                                                <img alt='Development Process / Tools' class='imgBlock'
                                                     src='../../public/image/topic/development-process.png'>
<span class='titleBlock'>
Development Process / Tools
</span>
                                            </center>
                                        </a>

                                        <div class='moreLink'>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/git-expert-help.png'>
                                                    <a class='catLink' href='/git-experts'>
                                                        Git
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/devops-expert-help.png'>
                                                    <a class='catLink' href='/devops-experts'>
                                                        DevOps
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/wordpress.png'>
                                                    <a class='catLink' href='/wordpress-experts'>
                                                        WordPress
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/drupal-expert-help.png'>
                                                    <a class='catLink' href='/drupal-experts'>
                                                        Drupal
                                                    </a>
                                                </div>
                                            </div>
                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <img class='catImg' src='../../public/image/experts/no-icon.png'>
                                                    <a class='catLink' href='/joomla-experts'>
                                                        Joomla
                                                    </a>
                                                </div>
                                                <div class='span6'>
                                                    <img class='catImg'
                                                         src='../../public/image/experts/seo-expert-help.png'>
                                                    <a class='catLink' href='/seo-experts'>
                                                        SEO
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}
